<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>HSR Database</title>
        <link rel="stylesheet" href="/reset.css" />
        <link rel="stylesheet" href="/characterDetails.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap"
            rel="stylesheet"
        />
    </head>
    <body>
        <%- include("characterDetails", {characterDetails: characterDetails}) %>
    </body>
</html>
