<div class="paths-container">
    <% paths.forEach((path) => { %>
    <a
        href="/paths/<%= path.toLowerCase().replace(/\s+/g, '-') %>"
        class="path <% if (path === pathName) { %>active<% } %>"
        ><%= path %>
    </a>
    <% }) %> <% if (pathName) { %>
    <a href="/" class="path all-paths">All Paths</a>
    <% } %>
</div>
